  body {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
  }
  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }

  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }

  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .ol-button i {
  color: inherit;
  opacity: 0.0;
  }

  .ol-control.bar {
    background-color: rgba(255, 0, 0, 1);
  }

  .ol-zoomslider {
        top: 8px;
        left: auto;
        right: 8px;
        background-color: rgba(255,255,255,0.7);
        width: 200px;
        height: 15px;
        padding: 0;
        box-shadow: 0 0 5px rgb(255,255,255);
        border-radius: 20px;
      }

  .ol-zoomslider:hover {
        background-color: rgba(255,255,255,0.6);
      }

  .ol-zoomslider-thumb {
        height: 15px;
        width: 15px;
        margin: 0;
        filter: none;
        background-color: rgba(255,255,255,0.8);
        border-radius: 20px;
      }
  a.ol-zoomslider-handle:hover {
        background-color: rgba(255,255,255,0.9);
      }
